.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.main-title{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 25px;
}

#products-container{
  margin: 0px 105px 50px 105px;
}

#prod-title{
  font-size: 34px;
}

#prod-sub-title{
  font-size: 19px;
  color: rgba(69, 69, 69, 1);
}

.products-filter{
  margin-top: 60px;
}

#filter-name{
  margin: 10px 30px 0px 0px;
}

/*#info-user {
  color: white;
  position: relative;
  top: 8px;
  left: 30px;
}*/

#buscador {
  position: relative;
  top: -20px;
  left: 675px;
  width: 370px;
}

#search-label {
  position: relative;
  top: 20px;
  left: 590px;
}

#clear-search {
  position:relative;
  top: -55px;
  left: 1050px;
}

#commentsSubTitle, #commentsSecTitle {
  text-align: center;
}

#commentsSecTitle {
  margin-top: 120px;
}

#userNameComm {
  font-weight: bold;
}

#commentBox {
  color: #9f9f9f;
}

#rank {
  font-size: 15px;
}

#commentDateTime{
  font-size: 14px;
  color: #9f9f9f;
}

#commentBoxHeader {
  font-size: 18px;
}

#userCommentBox {
  width: 600px;
}

#publishCommentButton {
  position: relative;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  top: -25px;
  left: -170px;
  box-shadow: none;
  background-color: #2450e0;
  color: #fcfcfc;
}

.checked {
  color: orange;
}

#userProductRank, #labelProductRank {
  position: relative;
  top: 50px;
  left: -604px;
}

#related-prod-images {
  margin-bottom: 10px;
}

#related-prod-title {
  margin: 20px 0px 25px 0px;
}

.card-prod-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.col-md-4 {
  transition: transform .2s;
}

.related-prod-card {
  transition: transform .2s;
}

.related-prod-card:hover {
  transform: scale(1.1);
}

.carousel-item{
  height: 500px;
} 
.carousel-item img{
  height: 500px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
 }
 
 .carousel-fade  .carousel-item.active {
   opacity: 1;
 }
 
 .carousel-fade .carousel-item.active {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
 }

